* {
  margin: 0;
  padding: 0;
}
body {
  background: #31353f;
  color: white;
  overflow-x: hidden;
  font-family: Monospace;
}

.header > img {
  height: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #151316;
  padding: 5px 72px;
  font-size: 20px;
}
.header > div {
  display: flex;
  align-items: center;
}
.header > div > p {
  margin-left: 30px;
}

.desktop-img {
  filter: drop-shadow(10px 10px 30px gray);
  width: 400px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  min-height: calc(100vh - 100px);
}

.content > div {
  display: flex;
  flex-direction: column;
  items: center;
  gap: 72px;
  text-align: center;
}
.content > div > h1 {
  font-size: 4vw;
}
.content > div > p {
  margin: auto;
  max-width: 560px;
  font-size: 2vw;
}
.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  text-decoration: none;
  color: white;
}
.btns > a {
  background: #3a6ff8;
  width: 40%;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px 0px;
}

.footer {
  display: flex;
  position: sticky;
  bottom: 0;
  align-items: center;
  background: #151316;
  padding: 5px;
  justify-content: space-evenly;
}
.footer > li {
  list-style-type: none;
  font-size: 17px;
}
.footer-text {
  display: none;
}

@media only screen and (max-width: 850px) {
  .container {
    flex-direction: column;
  }
  .content > div {
    gap: 20px;
  }
  .content > div > h1 {
    font-size: 30px;
    word-break: break-word;
  }
  .desktop-img {
    width: 300px;
  }
  .content > div > p {
    font-size: 14px;
    max-width: 400px;
    text-align: center;
  }
  .btns {
    gap: 20px;
  }
}
@media only screen and (max-width: 640px) {
  .header {
    justify-content: center;
    padding: 5px 48px;
  }
  .header > div > p {
    display: none;
  }
  .container {
    flex-direction: column;
  }

  .content > div {
    gap: 20;
  }
  .content > div > h1 {
    font-size: 30px;
  }

  .footer-text {
    display: block;
  }
}
