<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./headerFooter.css"/>
    <link rel="stylesheet" href="./styleLeftSidebar.css" />
    <link rel="stylesheet" href="./styleDashboard.css" />
    <title>Document</title>
</head>
<body>
    <div id="left-sidebar"></div>
    <div id="right-sidebar"></div>
    <div class="dashboard-top">
        <div class="dashboard-logo">
            <img src="../images/logo.png" />
        </div>
        <div class="search-div">
            <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-64.png"/>
            <input id="search" value="" onchange="" class="search" placeholder="Search For A Company" />
            <img src="../images/sendIcon.svg" title="search"/>
        </div>
    </div>
    <div class="main"></div>
    <div id="footer"></div>
    <script type="module" src="./Dashboard.js"></script>
    <script>
        function toggleSidebar (){
            const sidebar = document.getElementsByClassName("sidebar")[0]
            if(sidebar.classList.contains("open")){
              sidebar.classList.remove('open')
            }else{
              sidebar.classList.add('open')
            }
        }
        function toggleRightSidebar(){
            const sidebar = document.getElementsByClassName("right-sidebar")[0]
            if(sidebar.classList.contains("open")){
              sidebar.classList.remove('open')
            }else{
              sidebar.classList.add('open')
            }
        }
    </script>
</body>

</html>