* {
  margin: 0;
  font-family: monospace;
}
#header {
  z-index: 20;
}
.header > img {
  height: 40px;
}
.header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  background: #151316;
  color: white;
  padding: 4px 0;
  font-size: 20px;
}
.header > div {
  display: flex;
  align-items: center;
}
.header > div > p {
  margin-left: 30px;
}

.footer {
  background: #151316;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
.footer > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  list-style-type: none;
  font-size: 17px;
  animation: slide 10s linear infinite;
}
.footer-text {
  display: none;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@media only screen and (max-width: 640px) {
  .header {
    justify-content: center;
  }
  .header > div > p {
    display: none;
  }
  .footer-text {
    display: block;
  }
}
