* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#left-sidebar {
  background: #1b202b;
  position: relative;
  z-index: 4;
}
.sidebar {
  position: fixed;
  top: 0;
  overflow: hidden;
  background: #1b202b;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px 0 50px;
}

.sidebar-logo {
  display: none;
}

.arrow {
  margin: 20px 0;
  background: none;
  border: none;
  cursor: pointer;
}
.arrow > img {
  background:none;
  width: 20px;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  color: #b3aaaa;
}
.list-item {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 8px;
  padding: 10px 10px;
}
.list-item:hover {
  background: #3a6ff8;
}

.list-item > img {
  width: 27px;
}
.list-item > span {
  display: none;
}
.gap {
  flex-grow: 1;
}
.sidebar:hover .sidebar-logo {
  width: 260px;
  display: block;
}
.sidebar:hover .list-item > span {
  display: block;
}
.sidebar:hover .list-item {
  grid-template-columns: 1fr 2fr;
}
.sidebar:hover .list-item {
  width: 200px;
}
.sidebar:hover .arrow > img {
  transform: rotate(180deg);
  transition-duration: 1s;
}

#right-sidebar {
  background: #1b202b;
  position: relative;
  z-index: 4;
}

.right-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  background: #1b202b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  height: 100vh;
}
.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile > img {
  width: 30px;
}
.profile > span {
  color: white;
  margin: 0 0 0 20px;
  display: none;
}
.right-arrow {
  margin: 20px 0;
  background: none;
  border: none;
  cursor: pointer;
}
.right-arrow > img {
  width: 20px;
  transform: rotate(180deg);
}
.right-sidebar:hover .profile {
  width: 90%;
}
.right-sidebar:hover .profile > img {
  width: 50px;
}
.right-sidebar:hover .profile > span {
  display: block;
}
.right-sidebar:hover .list-item > span {
  display: block;
}
.right-sidebar:hover .list-item {
  grid-template-columns: 1fr 2fr;
}
.right-sidebar:hover .list-item {
  width: 200px;
}
.right-sidebar:hover .right-arrow > img {
  transform: rotate(0deg);
  transition-duration: 1s;
}
