* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#left-sidebar {
  background: #1b202b;
  position: relative;
  z-index: 4;
}
.sidebar {
  position: fixed;
  top: 0;
  overflow: hidden;
  background: #1b202b;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px 0 50px;  
}

.sidebar-logo {
  width: 0;
  transition: width 1s ease-in-out 
}

.arrow {
  margin: 20px 0;
  background: none;
  border: none;
  cursor: pointer;
}
.arrow > img {
  background:none;
  width: 20px;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  color: #b3aaaa;
}
.list-item {
  display: grid;
  width: 50px;
  height: 50px;
  align-items: center;
  border-radius: 8px;
  padding: 10px 10px;
  transition: width 1s ease-in-out
}
.list-item:hover {
  background: #3a6ff8;
}

.list-item > img {
  width: 27px;
}
.list-item > span {
  opacity: 0%;
  transform: scale(0);
  transition: opacity,transform 1s ease-in-out
}
.gap {
  flex-grow: 1;
}

.sidebar.open .sidebar-logo {
  width: 260px;
  display: block;
}
.sidebar.open .list-item > span {
  transform: scale(1);
  opacity: 100%;
}
.sidebar.open .list-item {
  grid-template-columns: 1fr 2fr;
  width: 200px;
  height: auto;
}
.sidebar.open .arrow > img {
  transform: rotate(180deg);
  transition-duration: 1s;
}








#right-sidebar {
  background: #1b202b;
  position: relative;
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  background: #1b202b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  height: 100vh;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile > img {
  width: 30px;
  transition: width 1s ease-in-out;
}
.profile > span {
  color: white;
  margin: 0 0 0 20px;
  display: none;
  transform: scale(0);
  transition: transform 1s ease-in-out;
}
.right-arrow {
  margin: 20px;
  background: none;
  border: none;
}
.right-arrow > img {
  width: 20px;
  transform: rotate(180deg);
  cursor: pointer;
}
.right-list-item {
  width: 50px;
  height: 50px;
  align-items: center;
  border-radius: 8px;
  padding: 10px 10px;
  transition: width 1s ease-in-out
}
.right-list-item:hover {
  background: #3a6ff8;
}

.right-list-item > img {
  width: 27px;
}
.right-list-item > span {
  display: none;
}
.right-sidebar.open {
  width: 220px
}
.right-sidebar.open .profile {
  width: 90%;
}
.right-sidebar.open .profile > img {
  width: 50px;
}
.right-sidebar.open .profile > span {
  display: block;
  transform: scale(1);
}
.right-sidebar.open .right-list-item > span {
  display: block;
}
.right-sidebar.open .right-list-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 200px;
}
.right-sidebar.open .right-arrow{
 margin: 20px auto;
 width: 100%;
}
.right-sidebar.open .right-arrow > img {
  transform: rotate(0deg);
  transition-duration: 1s;
}
