* {
  margin: 0;
  padding: 0;
}

.signup-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: gray;
  min-height: 100vh;
}

.signup-page > img {
  max-width: 40%;
  background: black;
}

.home-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgb(157, 31, 128);
  background: linear-gradient(90deg, #403e41, #1e1c1f);
  border-radius: 5px;
  z-index: 4;
  width: 60px;
  height: 60px;
}
.home-icon > img {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  background: rgb(157, 31, 128);
  background: linear-gradient(
    90deg,
    rgba(157, 31, 128, 0.3) 22%,
    rgba(55, 28, 65, 0.3) 100%
  );
}

.signup-title {
  text-align: center;
  margin-bottom: 40px;
}
.signup-title > h1 {
  font-size: 56px;
  color: white;
}
.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.signup-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-bottom: 20px;
}

.signup-info > input {
  padding: 10px 5px;
  margin-top: 5px;
  width: 100%;
  border-radius: 8px;
  border: 0.5px solid gray;
  background: rgb(138, 129, 136);
  background: linear-gradient(
    90deg,
    rgba(138, 129, 136, 0.3) 29%,
    rgba(56, 52, 57, 0.3) 100%
  );
  font-weight: semibold;
  color: white;
}
.signup-info > input:focus {
  outline: 1px solid purple;
}
.signup-btn {
  background: rgb(170, 63, 251);
  background: linear-gradient(
    90deg,
    rgba(170, 63, 251, 1) 0%,
    rgba(252, 70, 70, 1) 100%
  );

  color: white;
  font-size: large;
  padding: 8px 5px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}
.signup-btn:hover {
  background: rgb(170, 63, 251);
  background: linear-gradient(
    270deg,
    rgba(170, 63, 251, 1) 0%,
    rgba(252, 70, 70, 1) 100%
  );
}
.signup-btn:active {
  transform: scale(98%);
}

/* css for smaller srcreen */

@media only screen and (max-width: 640px) {
  .home-icon {
    width: 40px;
    height: 40px;
  }
  .signup-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .content {
    padding: 40px 0;
    width: 100%;
  }
  .info {
    width: 70%;
  }
}
